/*creating flexbox in navbar for easier adjustment*/
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
}
.navbar li {
    list-style-type: none;
    font-size: 175%;
}
.navbar a {
    text-decoration: none;
    color:whitesmoke ;
}
/*adding hbover effects*/
.navbar a:hover {
    color: skyblue;
}
/* adjusting navbar look on smaller devices*/
@media screen and (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }
}
/* setting footer in bottom left always*/
#feetDiv {
    position: static;
}